body{
}
/* header */
.encabezadoIncubarSoporte{
  display: flex;
  padding: 1.2% 14.5% 0.8% 6%;
  justify-content: space-between;
  align-items: center;
}
.LogoIncubarhuila img{
  height: 96pt;
  padding: 0;
  margin: 0;
}
.encabezadoIncubarSoporte a.activo {
  color: #f9bf00;
  background-color: #01562c;
  /* border-radius: 3px; */
  /* padding: 18px 10px 18px 10px; */
}
.encabezadoIncubarSoporte .navegadorIncubarSoporte ul {
  display: flex!important;
}
#header {
  /* margin: auto; */
  width: auto;
  /* background-color: red; */
}

ul,
ol {
  list-style: none;
}

.nav>li {
  float: left;
}

.nav li a {
  /* background-color: #000; */
  color: var(--bs-success);
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  margin-left: 5px;
  border-radius: 7px;
  background-color: red;
}

.nav li a:hover {
  background-color: var(--bs-success);
  color: var(--bs-warning);
}

.nav li a:active {
  background-color: var(--bs-success);
  color: var(--bs-warning);
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 280px;
  /* background-color: var( --bs-info); */
}

.nav li:hover>ul {
  display: block;
}

.nav li ul li {
  position: relative;
  right: 26px;
  top: 46px;
  background-color: var(--bs-success);
}

.nav li ul li a {
  color: var(--bs-light);
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 0;
  padding: 15px;
}
.cabezal {
  background-color: #f9bf00;
  padding-left: 4%;
  padding-right: 14.5%;
}
.cabezal img {
  width: 13%;
  padding: 9px;
  margin-left: 4%;
}
.Icono_enunciado img {
  height: 60pt;
}
/* .enunciado .mesadeayuda p{
  padding-left: 1%;
  margin: 0;
  color:#000;
} */
.enunciado h1{
  padding-left: 1%;
  margin-top: 20px;
  color: #000;
}
.enunciado{
  margin: 0 auto;
  margin: 2% 10% 1% 8.5%;
  display: flex;
  padding: 55px;
  padding-left: 15%;
  background-size: cover;
}
/* footer */
footer {
  background-color: #01562C;
}
footer p {
  color: white;
}
footer nav a {
  color: #F9BF00;
  display: block;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  border-bottom: 0.1px solid #13623C;
}
footer nav a:hover {
  color: #ffff;
}
.comparte{
  justify-content: end;
  display: flex;
  margin: 0.5% 8% 0 8.5%;
}
.comparteContenedor{
  display:flex;
  padding-top:0.5%;
  padding-right:2%
}
.compartir {
  display: flex;
  list-style: none;
  /* padding-right: 20px; */
}
.compartir a {
  padding: 0 9px 0;
}
.compartirTriangulo {
  background-color: #1BA3DF;
  text-align: center;
  padding: 10px 10px 0;
  color: white;
  display: flex
}
.triangulo {
  width: 0;
  height: 0;
  margin-top: 13px;
  border-top: 10px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #1BA3DF;
}
.footerUno {
  display: flex;
  padding: 3% 10% 3% 8%;
  font-size: 14px;
}
.footerUnoLogo {
  width: 40%;
}
.footerUnoLogo img{
  width: 85%;
}
.footerNavegador {
  margin-right: 20px;
  width: 30%;
}
.ContactoFooter{
  width: 30%
}
.ContactoFooter p {
  color: white;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ContactoFooter label {
  color: white;
  font-size: 18px;
}
.footerDos {
  display: flex;
  /* padding: 1.2% 14.5% 0.8% 8.5%; */
  justify-content: space-between;
  padding: 0 10% 1% 8%;
  border-top: 0.1px solid #13623C;
  font-size: 12px;
  align-items: center
}
.footerDerechos{
  width: 39%;
}
.footerSocial{
  display: flex;
  width: 20%;
}
.footerSocial .social {
  display: flex;
  list-style: none;
}
.footerSocial .social i {
  color: white;
  font-size: 17px;
  padding: 0 7px 0;
}
footer {
  background-color: #01562C;
}
footer p {
  color: white;
}
footer nav a {
  color: #F9BF00;
  display: block;
  text-decoration: none;
  font-size: 12px;
  padding: 10px 10px 10px 10px;
  border-bottom: 0.1px solid #13623C;
}
footer nav a:hover {
  color: #ffff;
}
.footerUno {
  display: flex;
  padding: 3% 10% 3% 8%;
  font-size: 14px;
}
.footerUnoLogo {
  width: 40%;
}
.footerUnoLogo img{
  width: 85%;
}
.footerNavegador {
  margin-right: 20px;
  width: 30%;
}
.ContactoFooter{
  width: 30%
}
.ContactoFooter p {
  color: white;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ContactoFooter label {
  color: white;
  font-size: 18px;
}
.footerDos {
  display: flex;
  /* padding: 1.2% 14.5% 0.8% 8.5%; */
  justify-content: space-between;
  padding: 0 10% 1% 8%;
  border-top: 0.1px solid #13623C;
  font-size: 12px;
  align-items: center
}
.footerDerechos{
  width: 39%;
}
.footerSocial{
  display: flex;
  width: 20%;
}
.footerSocial .social {
  display: flex;
  list-style: none;
}
.footerSocial .social i {
  color: white;
  font-size: 17px;
  padding: 13px 7px 0;
}

/* Cuerpo home */
.cuerpo {
  display: flex;
  margin: 0 10% 0 8.5%;
  border-radius: 8px;
  border: 1px solid #01562C;
  justify-content: center;
  height: auto;
  /* width: 100%; */
}
/* Formulario */
form.formularioLogin {
  text-align: center;
  flex-direction: row;
  width: 50%;
  height: auto;
  justify-content: center;
  margin-bottom: 10px;
}

form.formularioLogin h1 {
  font-size: 25px;
  margin-top: 8px;
  margin-bottom: 8px;
}

form.formularioLogin input[type="text"], input[type="password"] {
  margin: auto;
  display: block;
  width: 58%;
  border: 1px solid #a7aaaf;
  padding: 2%;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  margin-bottom: 5px;
}

::placeholder {
  color: #a7aaaf;
}

.formularioLogin .formCkeck {
  display: flex;
  width: 60%;
  margin: auto;
  font-size: 12px;
  padding: 8px;
}

.formularioLogin .formCkeckContainer {
  display: flex;
  width: 30%;
}

.formularioLogin .formCkeckOlvidarContraseña {
  text-align: center;
  margin: auto;
  padding-left: 50px;
}

.botonesLogin {
  margin: auto;
  align-items: center;
  width: 60%;
}

.botonesLogin button {
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  width: 100%;
}

.botonesLogin .Invitado a {
  text-decoration: none;
  color: #01562c;
}

.botonesLogin .Login {
  background-color: #01562c;
  border: 1px solid #f9bf00;
  color: #f9bf00;
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  width: 100%;
}

.botonesLogin .Invitado {
  background-color: #f9bf00;
  border: 1px solid #01562c;
  color: #01562c;
}
input[type="text"],input[type="password"]
{
  outline: none;
}

input[type="text"]:focus, input[type="password"]:focus{
  border-color: #8AC2EF;
  background-color: #E9F5FC;
  box-shadow: 0.5px 0.5px 6px #8AC2EF;
}
/* cuerpo tickets */
.cuerpo .contenedorBotones {
  background-color: #01562c;
  /* width: 100%; */
  padding: 1.5% 1%;
  margin-right: 0.5px;
}

.cuerpo .contenedorBotones a {
  /* border: 1px solid #f9bf00; */
  color: white;
  font-size: 16px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 5px;
}


.cuerpo .contenedorBotones i {
  padding-right: 7px;
}
form {
  text-align: center;
  flex-direction: row;
  width: 95%;
  margin: auto;
  height: auto;
  justify-content: center;
  margin-bottom: 10px;
}

form p {
  font-size: 12px;
}

form span {
  color: red;
}

.formularioTicketContenedorUno {
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  padding: 1% 0 0 0;
}

.caja {
  padding: 5% 1% 1% 1%;
  text-align: center;
  text-align: left;
}

.formularioTicketContenedorUno input[type="text"],
input[type="number"], input[type="email"] {
  width: 90%;
  border: 1px solid #a7aaaf;
  padding: 1%;
  padding-bottom: 2%;
  padding-left: 6px;
  height: 20px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
}

select {
  width: 90%;
  border: 1px solid #a7aaaf;
  padding: 1%;
  padding-bottom: 2%;
  padding-left: 6px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
}

.formularioTicketContenedorDos {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}

.formularioTicketContenedorDos input[type="text"] {
  width: 93%;
  border: 1px solid #a7aaaf;
  padding: 1%;
  height: 20px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  padding-left: 6px;
}

.formularioTicketContenedorTres {
  padding: 1% 0 1% 0;
  padding: 1%;
  text-align: left;
}

.formularioTicketContenedorTres input[type="text"] {
  width: 97%;
  border: 1px solid #a7aaaf;
  padding: 0.6%;
  height: 20px;
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  padding-left: 6px;
}
textarea{
  width: 97%;
}

.formularioTicketContenedorUno label, .formularioTicketContenedorDos label, .formularioTicketContenedorTres label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  outline: none;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus, textarea:focus, input[type="email"]:focus {
  border-color: #8AC2EF;
  background-color: #E9F5FC;
  box-shadow: 0.5px 0.5px 6px #8AC2EF;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.formCkeck {
  margin-left: 10px;
}

.formCkeckContainer {
  width: 100%;
  text-align: left;
}
.formFileContainer {
  width: 120px;
  text-align: left;
  /* background-color: red; */
  position: relative;
  cursor: pointer;
  /* padding: 5px; */

}
input.adjuntar{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
p#textoAdjuntarArchivo{
text-decoration-line: underline;
text-decoration-style: dotted;
text-decoration-color: #2683B5;
color:#2683B5;
}
p.recomendacionAdjunto{
  text-align: left;
  color: #807078;
  font-style: oblique;
}

.formCkeckContainer a {
  text-decoration: none;
}

.formCkeckContainer label {
  font-size: 12px;
  margin-left: 7px;
}

.botonesEnviarTicket {
  margin-top: 5%;
  text-align: left;
  width: 60%;
}

.botonesEnviarTicket .Enviar {
  background-color: #01562c;
  color: #f9bf00;
  font-size: 12px;
  padding: 8px;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
}
.botonesEnviarTicket button{
  border: none;
}

.botonesEnviarTicket .Formulario {
  background-color: #f9bf00;
  color: #01562c;
  font-size: 12px;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.filtroContenedorTicket {
  /* background-color: rgb(119, 255, 0); */
  width: 16%;
}
.contenedorFiltros {
  /* margin: 0 10% 0 8.5%; */
  border-radius: 3px;
  border: 1px solid #c5c4c5;
  background-color: transparent;
  margin-left: 10px;
  text-align: left;
  margin: 25px 0 0 10px;
}
.tituloFiltro {
  border-bottom: 1px solid #c5c4c5;
  margin: 0 5%;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

.contenidoFiltro p {
  margin-left: 5%;
  font-size: 13px;
}
.contenidoFiltro a,
.tituloFiltro a {
  text-decoration: none;
  color: #000;
}
.contenedorFiltrosGuardados {
  border-radius: 3px;
  border: 1px solid #c5c4c5;
  background-color: transparent;
  margin: 10px 0 10px 10px;
  text-align: left;
}
.seccionTabla {
  /* background-color: red; */
  margin: 2% 1% 2% 2%;
}
.seccionTabla .filtroTabla {
  margin: 2%;
}
.seccionTabla .cantidadDatosTabla {
  margin: 2%;
}
.separadorHojasTabla ul {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.separadorHojasTabla ul li {
  margin-left: 2px;
  display: inline-block;
}
.separadorHojasTabla button,
.separadorHojasTabla span {
  color: #01562c;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
}
.separadorHojasTabla button:hover {
  background: #f9bf00;
}
.separadorHojasTabla ul li span.active {
  color: #01562c;
  background: #f9bf00;
}

.separadorHojasTabla ul li span,
.separadorHojasTabla ul li button {
  padding: 10px 13px;
  border-radius: 5px;
}
.contenedorTabla table {
  border-collapse: collapse;
  width: 100%;
}
.contenedorTabla table,
.contenedorTabla table th,
.contenedorTabla table td {
  padding: 3px 0.5px;
}
.contenedorTabla table th {
  font-weight: bolder;
  text-align: center;
  background: #f9bf00;
}
.contenedorTabla table td {
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
}
.contenedorTabla #table_id tbody tr:hover{
  background-color: #f9bf0008;
}
.contenedorTabla #table_id tbody tr{
  cursor: pointer;
}
.contenedorTabla #table_id tbody tr.en{
  cursor: pointer;
}
.dataTable-bottom{
  background-color: pink;

}
